# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True
ADMINS = [('John', 'john@example.com'), ('Mary', 'mary@example.com')]
SERVER_EMAIL = 'no-reply@example.com'
INFO_EMAIL = 'info@example.com'
EMAIL_SUBJECT_PREFIX = '[SaasAdmin]'

#ALLOWED_HOSTS = ["saasadmintest.example.org"]

ACCOUNT_ACTIVATION_DAYS = 1
REGISTRATION_OPEN = True
DEFAULT_FROM_EMAIL = 'no-reply@example.org'
EMAIL_HOST = 'smtp.example.org'
EMAIL_PORT = 25
EMAIL_HOST_USER = 'myuser'
EMAIL_HOST_PASSWORD = 'topsecret'
EMAIL_USE_TLS = True

DEFAULT_FRONTEND_LANGUAGE = 'EN'
AVAILABLE_FRONTEND_LANGUAGES = ['EN', 'DE']

INSTANCE_ID_START = 10000
INSTANCE_ID_END = 20000
PORT_START = 7000
PORT_END = 9000

COUNTRIES_ONLY = ['DE', 'AT', 'CH', 'NL']

SESSION_COOKIE_DOMAIN=".example.org"