{% extends 'base.html' %}

{% block content %}
<div class="form-box">
  <h2>Saas Admin</h2>


  <ul>
  {% for instance in unused_instances %}
    <li>{{ instance.identifier }}: {{ instance.status }}</li>
      {% endfor %}
  </ul>

  <h3>Customers</h3>
  <ul>
  {% for customer in customers %}
    <li>{{ customer.email_address }}: {{ customer.instance_identifier }} {{ customer.last_name }}</li>

  {% endfor %}

  </ul>
<table>

<tr>
		<th>name</th>
		<th>costPerPeriod</th>
		<th>currencyCode</th>
		<th>periodLengthInMonths </th>
		<th>noticePeriodTypeInDays</th>
		<th>Action</th>
</tr>
      {% for plan in plans %}
<tr>
		<td>{{ plan.name }} </td>
		<td> {{ plan.costPerPeriod}}</td>
		<td>{{ plan.currencyCode}} </td>
		<td>{{ plan.periodLengthInMonths}} </td>
		<td>{{ plan.noticePeriodTypeInDays}} </td>
		<td><a href="/plans/edit/{{ plan.id }}" class="button button-primary">Edit</a></td>
        <td><a href="/plans/delete/{{ plan.id }}" class="button button-danger">delete</a></td>
</tr>
{% endfor %}
</table>
<center><a href="/plans/add" class="button button-primary">Add New Record</a></center>
</div>

{% endblock %}
