{% extends 'base.html' %}

{% block content %}
<div class="form-box">
  <h2>Saas Admin</h2>

  <h3>Unused instances hallo welt</h3>
  <ul>
  {% for instance in unused_instances %}
    <li>{{ instance.identifier }}: {{ instance.status }}</li>
  {% endfor %}
  </ul>

  <h3>Customers</h3>
  <ul>
  {% for customer in customers %}
    <li>{{ customer.email }}: {{ customer.first_name }} {{ customer.last_name }} {{ customer.date_joined }}</li>
  {% endfor %}

  </ul>
<table>

<tr>
		<th>name</th>
		<th>costPerPeriod</th>
		<th>currencyCode</th>
		<th>periodLengthInMonths </th>
		<th>noticePeriodTypeInDays</th>
		<th>Action</th>
</tr>
      {% for plan in plans %}
<tr>
		<td>{{ plan.name }} </td>
		<td> {{ plan.costPerPeriod}}</td>
		<td>{{ plan.currencyCode}} </td>
		<td>{{ plan.periodLengthInMonths}} </td>
		<td>{{ plan.noticePeriodTypeInDays}} </td>
		<td><a href="/plans/add" class="button button-primary">Edit</a></td>
</tr>
{% endfor %}
</table>
<center><a href="/plans/add" class="button button-primary">Add New Record</a></center>
</div>





<div class="form-box">
<form method="POST" class="post-form" action="/transactions/update/{{transaction.id}}">
		{% csrf_token %}
	<div class="container">
	<input type="hidden" name="trade_id" value="{{transaction.trade_id}}">
<br>
{% if form.errors %}
	{% for field in form %}
		{% for error in field.errors %}
			<div class="alert alert-danger">
				<strong>{{field.name}}: {{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endfor %}
	{% for error in form.non_field_errors %}
		<div class="alert alert-danger">
			<strong>{{ error|escape }}</strong>
		</div>
	{% endfor %}
{% endif %}

	<div class="form-group row">
	<label class="col-sm-1 col-form-label"></label>
	<div class="col-sm-4">
	<h3>Update Transaction</h3>
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">name :</label>
	<div class="col-sm-4">
		{{ form.crypto_currency }}
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">costPerPeriod :</label>
	<div class="col-sm-4">
		{{ form.amount_before_fee }}
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">currencyCode :</label>
	<div class="col-sm-4">
		{{ form.amount_after_fee }}
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">periodLengthInMonths :</label>
	<div class="col-sm-4">
		{{ form.exchange_rate }}
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">noticePeriodTypeInDays :</label>
	<div class="col-sm-4">
		{{ form.fiat_currency }}
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">Action :</label>
	<div class="col-sm-4">
		{{ form.amount }}
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">{{ form.date_valid.label }}:</label>
	<div class="col-sm-4">
		{{ form.date_valid }}
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-1 col-form-label"></label>
	<div class="col-sm-4">
	<center><button type="submit" class="button button-primary">Update</button></center>
	</div>
	</div>

	</div>
</form>
</div>


{% endblock %}
