{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
  <h3>{%translate "Customers"%} {{product.name}}</h3>

  <table>
    <tr>
        <th>{%translate "Name"%}</th>
        <th>{%translate "E-Mail"%}</th>
        <th>{%translate "Instance"%}</th>
        <th>{%translate "Plan"%}</th>
        <th>{%translate "Contract"%}</th>
        <th colspan="2">{%translate "Action"%}</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.last_name }}</td>
        <td><a href="mailto:{{ customer.email_address }}">{{ customer.email_address }}</a></td>
        <td>{{ customer.instance_identifier }}</td>
        <td>{{ customer.plan_name }}</td>
        <td>{{ customer.contract_finish }}</td>
        {% if customer.plan_cost == 0 and not customer.contract_end_date is None %}
        <td><a href="/contracts/edit/{{ customer.contract_id }}/AddTest14" class="button button-primary">{%translate "Extend Test by 14 days"%}</a></td>
        <td><a href="/contracts/edit/{{ customer.contract_id }}/MakeFree" class="button button-primary">{%translate "Switch to Unlimited Test"%}</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

  </ul>
</div>

{% endblock %}
