{% extends 'base.html' %}
{% block content %}
<div class="form-box">
<form method="POST" class="post-form" action="/products/update/{{product.id}}">
		{% csrf_token %}
	<div class="container">

<br>
{% if form.errors %}
	{% for field in form %}
		{% for error in field.errors %}
			<div class="alert alert-danger">
				<strong>{{field.name}}: {{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endfor %}
	{% for error in form.non_field_errors %}
		<div class="alert alert-danger">
			<strong>{{ error|escape }}</strong>
		</div>
	{% endfor %}
{% endif %}

	<div class="form-group row">
		<div class="col-sm-4">
		<h3>Update Product</h3>
		</div>
	</div>

	{{ form }}

	<div class="form-group row">
		<div class="col-sm-4">
			<center><button type="submit" class="button button-primary">Update</button></center>
		</div>
	</div>

	</div>
</form>
</div>
{% endblock %}