{% extends 'base.html' %}

{% block content %}

<div class="container">
<h3>Products</h3>
<table>

<tr>
		<th>Name</th>
		<th>Activation URL</th>
		<th>Action</th>
</tr>
      {% for product in products %}
<tr>
		<td>{{ product.name }} </td>
		<td>{{ product.activationurl }} </td>
		<td><a href="/products/{{ product.slug }}/dashboard" class="button button-primary">Select</a></td>
		<td><a href="/products/edit/{{ product.id }}" class="button button-primary">Edit</a></td>
		<td><a href="/products/delete/{{ product.id }}" class="button button-danger">Delete</a></td>
</tr>
{% endfor %}
</table>
<center><a href="/products/add" class="button button-primary">Add New Record</a></center>
</div>

{% endblock %}
