{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
<h3>{%translate "Products"%}</h3>
<table>

<tr>
    <th>{%translate "Name"%}</th>
    <th>{%translate "Slug"%}</th>
    <th>{%translate "Is Active"%}</th>
    <th colspan="3">{%translate "Action"%}</th>
</tr>

{% for product in products %}
<tr>
    <td>{{ product.name }} </td>
    <td>{{ product.slug }} </td>
    <td>{{ product.is_active }} </td>
    <td><a href="/products/{{ product.slug }}/dashboard" class="button button-primary">{%translate "Select"%}</a></td>
</tr>
{% endfor %}

</table>
<center><a href="/products/add" class="button button-primary">{%translate "Add New Product"%}</a></center>
</div>

{% endblock %}
