[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
requests = "*"
django = "~=3.2"
djangorestframework = "*"
django-registration = "*"
django-countries = "*"
django-modeltranslation = "*"
django-simple-history = "*"
tldextract = "*"
fontawesomefree = "==6.1"
pillow = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
