#spacious_pricing_table_widget-5 .pricing-title,
#spacious_pricing_table_widget-5 .pricing-price,
#spacious_pricing_table_widget-5 .pricing-btn a {
	background: #79cc8c;
}
#spacious_pricing_table_widget-5 .pricing-price:after {
	border-top-color: #79cc8c;
}
#spacious_pricing_table_widget-5 .pricing-subtitle {
	color: #79cc8c;
}
#spacious_pricing_table_widget-5 .pricing-btn a:hover {
	background: #65b878;
}
#spacious_pricing_table_widget-5 .pricing-as-popular {
	background: #b50101;
}
.hidden {
  visibility: hidden;
}
body {
  padding-top: 0px;
}
