.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}
input, textarea {
  width: 100%;
}
h3 {
  padding-top: 30px;
}
div.tab-pane h4 {
  font-size: 14px;
  font-weight: 600;
}
