{% load static %}
{% load i18n %}
<html>
    <head>
        <title>{%translate "SaaS Admin"%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'Skeleton/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'Skeleton/css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton-tabs.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/topnav.css' %}">
        <link rel="stylesheet" href="{% static 'css/accordion.css' %}">
        <script src="{% static 'js/skeleton-tabs.js' %}"></script>
    </head>
    <body>
        {% if user.is_authenticated %}
        <nav class="topnav">
            <a href="/">{%translate "SaaS Admin"%}</a>
            {% if user.is_staff %}
            <a class="left" href="/products">{%translate "Products"%}</a>
            {% if product %}
            <a class="left" href="/products/{{product.slug}}/dashboard">{{product.name}}</a>
            <a class="left" href="/plans/{{product.slug}}/">{%translate "Plans"%}</a>
            <a class="left" href="/instances/{{product.slug}}/">{%translate "Instances"%}</a>
            <a class="left" href="/customers/{{product.slug}}/">{%translate "Customers"%}</a>
            {% endif %}
            {% else %}
            <a class="left" href="/account">{%translate "Personal Details"%}</a>
            <a class="left" href="/plan/current">{%translate "Selected Plan"%}</a>
            <a class="left" href="/payment">{%translate "Payment Details"%}</a>
            {% endif %}
            <a class="right" href="/accounts/logout/">{%translate "Logout"%}</a>
            <a class="right" href="https://github.com/solidcharity/saasadmin" target="_blank">{%translate "Fork me"%}</a>
        </nav>
        {% else %}
        <nav class="topnav">
            <a href="/">SaaS Admin</a>
            <a class="right" href="/accounts/login/">{%translate "Login"%}</a>
            <a class="right" href="https://github.com/solidcharity/saasadmin" target="_blank">{%translate "Fork me"%}</a>
            <a class="right" href="/pricing" target="_blank">{%translate "Pricing"%}</a>
        </nav>
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>
