{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-box">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
          <td>
           <div class="password-container">   
                <input name="password" id="password" type="password"
                  class="password-field"  placeholder="Password" autocomplete="current-password" required="">
              
              
                      <a role="button" class="password-button"
                      onclick="passwordVisibilitySwitch('password')" >  
                                                                   
                        <i class= "far fa-eye password-show-icon"></i>
                        <i class= "far fa-eye-slash password-hidden-icon"></i> 
                      </a>
            </div>              
          <script>
                   
          function passwordVisibilitySwitch(inputfieldId) {
            const passwordField = document.getElementById(inputfieldId);
            if(passwordField.type === "text") {
                passwordField.type = "password";
            } else {
                passwordField.type = "text";
            }
          }
          </script>
        </td>
      </tr>
      </table>
    <input type="submit" value="{%translate "login"%}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">{%translate "Lost password?"%}</a></p>
  <p><a href="{% url 'django_registration_register' %}">{%translate "Create a free account"%}</a></p>
</div>
{% endblock %}

