{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-box">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
         <td>
             <input type="password" name="passwort" autocomplete="current-password" required="" id="passwort"
              class="passwort-feld"  placeholder=""  >
        
              <td>
                <a>                                               
                  <i class= "far fa-eye passwort-anzeigen-icon"></i>
                  <i class= "far fa-eye-slash passwort-verstecken-icon"></i> 
                </a>  
              </td>
              <!--<td><input type="checkbox" id="checkpw" onclick="zeigePasswort()"></td> -->
          </td>      
       <td>  
         
         <!-- <script>
          // Passwort im Klartext anzeigen
          
            function zeigePasswort() {
            if (document.getElementById("checkpw").checked == true) {
              document.getElementById("passwort").type = "text";
            }
            else {
              document.getElementById("passwort").type = "password";
            }
            }
          </script>
        -->   
           
        </td>
      </tr>
      </table>
    <input type="submit" value="{%translate "login"%}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">{%translate "Lost password?"%}</a></p>
  <p><a href="{% url 'django_registration_register' %}">{%translate "Create a free account"%}</a></p>
</div>
{% endblock %}

