{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load tags %}

{% block content %}

<style>
  
  
  

.productlogo {
  width: 150px;
  height: 150px;
  
}

@media screen and (max-width: 480px) {
    .sidebar{
        position: relative;
    }
}

.sidebar{
  position: fixed;
}
</style>

<div class="sidebar">

      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
</div>

<div class="container">
        <div class="row">
          <h5>{%translate "Available Products"%}</h5>
        </div>  
        <div class="row">  
        <div class="three columns">
            <a href="//wordpress.ossaas.de">
              <img class="productlogo" src='/media/product_logos/WordPress-logotype-alternative3.png' alt="wordpress">
            </a>
            <div>wordpress</div>          
          </div>
          
          <div class="three columns">
            <a href="//kanboard.ossaas.de">
              <img class="productlogo" src='/media/product_logos/Kanboard_icon.svg.png' alt="kandoard">
            </a>
            <div>Kanboard</div> 
          </div>

          <div class="three columns">
            <a href="//nextcloud.ossaas.de">
              <img class="productlogo" src='/media/product_logos/Nextcloud_Logo.svg31.png' alt="Nextcloud">
            </a>
            <div>nextcloud</div>
          </div>
        </div>
          <div class="row">
            <div class="three columns">&nbsp;</div>
          </div>  

        <div class="row">
          <div class="three columns">
            <a href="//openpetra.ossaas.de">
              <img class="productlogo" src='/media/product_logos/openpetra_logo_final_white_text.png' alt="openpetra">
            </a>
            <div>openpetra</div>
          </div>

            <div class="three columns">
              <a href="//CiviCRM.ossaas.de">
                <img class="productlogo" src='/media/product_logos/civicrm-icon-lg.png' alt="CiviCRM">
              </a>
              <div>CiviCRM</div>
            </div>
          
            <div class="three columns">
              <a href="//OpenProject.ossaas.de">
                <img class="productlogo" src='/media/product_logos/1592478937959.jpeg' alt="OpenProject">
              </a>
              <div>OpenProject</div>
            </div>
          </div>
            <div class="row">
              <div class="three columns">&nbsp;</div>
            </div>  
          <div class="row">
            <div class="three columns">
              <a href="//Tryton.ossaas.de">
                <img class="productlogo" src='/media/product_logos/120px-Tryton_logo.svg.png' alt="Tryton">
              </a>
              <div>Tryton</div>
            </div>
          </div>    
                 
      </div>

    </div>
  </div>

</div>

{% endblock %}
