.table-selection {
  background: rgba(255,255,255,0.15);
  border: 2px double black;
  padding:0.5em;
  cursor: pointer;
}
.table-selection.selected {
  background: rgba(255,255,255,0.4);
}
.table-selection.active {
  box-shadow: 0px -3px 1px #1cc;
}
.table-selection > h1, .table-selection > h2,.table-selection > h3,.table-selection > h4{
  margin: 0;
}
#tier_info [tview] {
  background: rgba(255,255,255,0.4);
}
[cantallowchange] {
  background: red;
}
[tview] h4 {
  padding: 0 2em;
}
