.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}
input, textarea {
  width: 100%;
}
div.paymentform input[type="checkbox"], input[type="radio"] {
  width: auto;
}
div.paymentform label {
  display: inline;
  font-weight: 1;
}
h3 {
  padding-top: 30px;
}
div.tab-pane h4 {
  font-size: 14px;
  font-weight: 600;
}

div.withborder {
  border-style: solid;
  padding: 5px;
  border-width: 1px;
}

div.error {
    color: red;
    font-weight: bolder;
}

div.success {
    color: green;
    font-weight: bolder;
    text-align: center;
}

div.center {
    width: 100%;
    text-align: center;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }


.password-field[type=password] ~ .password-button .password-show-icon,
.password-field[type=text] ~ .password-button .password-hidden-icon {
  display: none;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-field{
  width: 100%;
  padding-right: 1.5em;
  box-sizing: border-box;
}

.password-button{
  position: absolute;
  right:0.5em;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
}


.password-field1[type=password] ~ .password-button1 .password-show-icon,
.password-field1[type=text] ~ .password-button1 .password-hidden-icon {
  display: none;
}

.password-container1 {
  position: relative;
  width: 100%;
}

.password-field1{
  width: 100%;
  padding-right: 1.5em;
  box-sizing: border-box;
}

.password-button1{
  position: absolute;
  right:0.5em;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
}


.password-field2[type=password] ~ .password-button2 .password-show-icon,
.password-field2[type=text] ~ .password-button2 .password-hidden-icon {
  display: none;
}

.password-container2 {
  position: relative;
  width: 100%;
}

.password-field2{
  width: 100%;
  padding-right: 1.5em;
  box-sizing: border-box;
}

.password-button2{
  position: absolute;
  right:0.5em;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
}
