.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}
input, textarea {
  width: 100%;
}
div.paymentform input[type="checkbox"], input[type="radio"] {
  width: auto;
}
div.paymentform label {
  display: inline;
  font-weight: 1;
}
h3 {
  padding-top: 30px;
}
div.tab-pane h4 {
  font-size: 14px;
  font-weight: 600;
}

div.withborder {
  border-style: solid;
  padding: 5px;
  border-width: 1px;
}

div.error {
    color: red;
    font-weight: bolder;
}

div.success {
    color: green;
    font-weight: bolder;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

.passwort-verstecken-icon {
  display: none;
}

.passwort-behaelter {
  position: relative;
  width: 40%;
}

.passwort-feld{
  width: 100%;
  padding-right: 1.5em;
  box-sizing: border-box;
}

.passwort-button{
  position: absolute;
  right:0.25em;
  top: 50%;
  transform: translate(-50%);
  cursor: pointer;
}
