{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<style media="screen">
  #account_field .center-item-row {
    margin-top:0.5em;
  }
  [readonly] {
    background: transparent;
  }
  [changemonth] {
    background: #dd5;
  }
  [changemonth][nocolor] {
    background: unset;
  }
</style>

<div details>
  
  <!-- personal info -->
  <div class="" style="margin:5% 10%;background:rgba(255,255,255,0.75);padding:1em;border-radius:5px;" id="account_field">
    <div class="success">
      {{successmessage}}
    </div>
    <h2 class="text-center">{% translate "Personal Details" %}</h2>

    <form method="POST" class="post-form" action="/account/update">
		{% csrf_token %}
    <div class="row">
      <!-- left -->
      <div class="col">

        {{ form }}

      </div>

      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col-6">
        <button type="confirm" class="button-primary">{% translate "Save changes" %}</button>
      </div>
    </div>

    </form>

  </div>
</div>

{% endblock %}
