{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<style media="screen">
  #account_field .center-item-row {
    margin-top:0.5em;
  }
  [readonly] {
    background: transparent;
  }
  [changemonth] {
    background: #dd5;
  }
  [changemonth][nocolor] {
    background: unset;
  }
</style>

<div details>

  <!-- personal info -->
  <div class="" style="margin:5% 10%;background:rgba(255,255,255,0.75);padding:1em;border-radius:5px;" id="account_field">

    <h2 class="text-center">{% translate "Personal Details" %}</h2>

    <form method="POST" class="post-form" action="/account/update">
		{% csrf_token %}
    <div class="row">
      <!-- left -->
      <div class="col">

{% if form.errors %}
	{% for field in form %}
		{% for error in field.errors %}
			<div class="alert alert-danger">
				<strong>{{field.name}}: {{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endfor %}
	{% for error in form.non_field_errors %}
		<div class="alert alert-danger">
			<strong>{{ error|escape }}</strong>
		</div>
	{% endfor %}
{% endif %}
        <!-- firstname -->
        <div class="center-item-row">
          <div class="col-4">
            <span>{% translate "First name" %} </span>
          </div>
          <div class="col-8">
              <input type="text" name="first_name" value="{{customer.first_name}}">
          </div>
        </div>

        <!-- lastname -->
        <div class="center-item-row">
          <div class="col-4">
            <span>{% translate "Last name" %}</span>
          </div>
          <div class="col-8">
              <input type="text" name="last_name" value="{{customer.last_name}}">
          </div>
        </div>

        <!-- email -->
        <div class="center-item-row">
          <div class="col-4">
            <span>{% translate "E-Mail" %}</span>
          </div>
          <div class="col-8">
              <input type="text" name="email_readonly" value="{{customer.email_address}}" readonly>
          </div>
        </div>

        <!-- street -->
        <div class="center-item-row">
          <div class="col-4">
            <span>{% translate "Street and house number" %}</span>
          </div>
          <div class="col-8">
            <input type="text" name="street" value="{{customer.street}}">
          </div>
        </div>

        <!-- postcode -->
        <div class="center-item-row">
          <div class="col-4">
            <span>{% translate "Post code" %}</span>
          </div>
          <div class="col-8">
            <input type="text" name="post_code" value="{{customer.post_code}}">
          </div>
        </div>

        <!-- city -->
        <div class="center-item-row">
          <div class="col-4">
            <span>{% translate "City" %}</span>
          </div>
          <div class="col-8">
            <input type="text" name="city" value="{{customer.city}}">
          </div>
        </div>

        <!-- country -->
        <div class="center-item-row">
          <div class="col-4">
            <span>{% translate "Country" %}</span>
          </div>
          <div class="col-8">
            <input type="text" name="country_code" value="{{customer.country_code}}">
          </div>
        </div>


      </div>

      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn stylish-color">{% translate "Save changes" %}</button>
      </div>
    </div>

    </form>

  </div>

  <!-- product plan -->
  <div class="" style="margin:5% 10%;background:rgba(255,255,255,0.75);padding:1em;border-radius:5px;" id="account_field">
    <h2 class="text-center">{% translate "Product plan" %}</h2>

    <div class="row">
      <!-- left -->
      <div class="col">
        <div class="center-item-row">
          <div class="col-4">
            <span>{% translate "address of your OpenPetra" %}</span>
          </div>
          <div class="col-8" id="machine_address">
            <a href="https://%machine_address%" target="_new">%machine_address%</a>
          </div>
        </div>
        <div class="center-item-row">
          <div class="col-4">
            <span>{% translate "current plan" %}</span>
          </div>
          <div class="col-8">
            <input readonly type="text" name="product_plan">
          </div>
        </div>
<!--
        <div class="center-item-row" changemonth>
          <div class="col-4">
            <span>{product_plan_next}</span>
          </div>
          <div class="col-8">
            <input readonly type="text" name="product_plan_next">
          </div>
        </div>
        <div class="center-item-row">
          <div class="col-4">
            <span>{maschine_paid_until}</span>
          </div>
          <div class="col-8">
            <input type="date" name="paid_until" readonly>
          </div>
        </div>
        <div class="center-item-row">
          <div class="col-12">
            <span id="auto_renew">¹ = %auto_renew%</span>
          </div>
        </div>
        <div class="center-item-row" changemonth nocolor>
          <div class="col-10">
            <span>² = {note_2}</span>
          </div>
        </div>
-->
      </div>
      <!-- right -->
<!--
      <div class="col">

        <div class="center-item-row" nontest>
          <div class="col-4">
            <span>{payment_plan}</span>
          </div>
          <div class="col-8">
            <input readonly type="text" name="payment_plan">
          </div>
        </div>
        <div class="center-item-row" changemonth>
          <div class="col-4">
            <span>{payment_plan_next}</span>
          </div>
          <div class="col-8">
            <input readonly type="text" name="payment_plan_next">
          </div>
        </div>
        <div class="center-item-row" nontest>
          <div class="col-4">
            <span>{iban}</span>
          </div>
          <div class="col-8">
            <input readonly type="text" name="iban">
          </div>
        </div>
      </div>
    </div>
-->
    <div class="row" >
      <div class="col-6">
        <a href="/{lang}/product">
          <button type="button" class="btn stylish-color-dark">{% translate "Change plan" %}</button>
        </a>
      </div>
    </div>

  </div>
</div>

{% endblock %}
