{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div details>
  <div class="" style="margin:5% 10%;background:rgba(255,255,255,0.75);padding:1em;border-radius:5px;">

    <div class="container paymentform" payment="">

      <div class="row">
        <div class="col">
          <h2 class="text-center">{% translate "Payment Details" %}</h2>

          <div class="success">
            {{successmessage}}
          </div>


          {%if no_payment%}
          {%translate "Your current contract is for free, there is no payment." %}
          {%else%}

          <form method="POST" class="post-form" action="/paymentmethod">
          {% csrf_token %}

          <input type="hidden" name="plan" value="{{plan.slug}}">
          <input type="hidden" name="additional_storage" value="{{additional_storage}}">

          <!-- payment options -->
          <div class="center-item-row">
            {%translate "Please choose how you want to pay the invoice:" %}
            <br/><br/>
            <input type="radio" id="sepa_transfer" name="payment_method" value="SEPA_TRANSFER" {%if contract.payment_method == 'SEPA_TRANSFER'%} checked=""{%endif%}>
            <label for="sepa_transfer">{%translate "You transfer the money via SEPA" %}</label>
            <br/>
            <input type="radio" id="sepa_directdebit" name="payment_method" value="SEPA_DIRECTDEBIT" {%if contract.payment_method == 'SEPA_DIRECTDEBIT'%} checked=""{%endif%}>
            <label for="sepa_directdebit">{%translate "You allow us to debit your bank account via SEPA Direct Debit"%}:</label>
            <br/>
            <ul style="display:inline-block;margin-left:1em;">
                {%if errormessage %}
                <div class="error">
                    {{errormessage}}
                </div>
                {%endif%}

                <label for="account_owner">{%translate "Account Owner" %}</label>
                <input type="text" id="account_owner" name="account_owner" value="{{contract.account_owner}}">
                <label for="account_iban">{%translate "Account IBAN" %}</label>
                <input type="text" id="account_iban" name="account_iban" value="{{contract.account_iban}}">
            </ul>
            <!--
            <br/>
            <input type="radio" id="paypal" name="payment_method" value="PAYPAL_TRANSFER">
            <label for="paypal">{%translate "You transfer the money via Paypal"%}</label>
            -->
            <br/>
          </div>

          <div class="col-6">
              {%if is_new_contract%}
              <button type="confirm" class="button-primary">{%translate "Confirm and Continue to next page"%}</button>
              {%else%}
              <button type="confirm" class="button-primary">{%translate "Confirm Payment Method"%}</button>
              {%endif%}
          </div>
        </form>

        {%endif%}

        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}
