{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pricing.css' %}">

<div class="container pricing">
<div class="row" id="spacious_pricing_table_widget-5" class="widget_table_pricing">

{% for plan in plans %}
{% if plan.is_public or selected_plan == plan.slug %}
<div class="one-third column">

<div class="pricing-table-wrapper-0 pricing-table-wrapper">
<span class="pricing-as-popular {%if selected_plan != plan.slug%}hidden{%endif%}">{%translate "selected"%}</span>
<h4 class="pricing-title">{{plan.name}}</h4>

<div class="pricing-price">
    <span class="pricing-currency">
        {% if plan.cost_per_period == 0 %}
            {%translate "free"%}
            {%if plan.period_length_in_months == 0 and plan.period_length_in_days == 0 %}{% translate "for forever" %}{%endif%}
            {%if plan.period_length_in_months == 0 and plan.period_length_in_days == 1 %}{% translate "for one day" %}{%endif%}
            {%if plan.period_length_in_months == 0 and plan.period_length_in_days > 1 %}{%blocktrans with periodLength=plan.period_length_in_days%}for {{periodLength}} days{%endblocktrans%}{%endif%}
        {%else%}
            {%if plan.currency_code == 'EUR' %}{{plan.cost_per_period.normalize}}&euro;
            {%elif plan.currency_code == 'USD'%}${{plan.cost_per_period.normalize}}
            {%else%}{{plan.cost_per_period.normalize}} {{plan.currency_code}}
            {%endif%}
            {%if plan.period_length_in_months == 1 %}{% translate "per month" %}
            {%elif plan.period_length_in_months == 3 %}{% translate "per quarter" %}
            {%elif plan.period_length_in_months == 12 %}{% translate "per year" %}
            {%endif%}
        {% endif %}</span>
    <span class="pricing-date">{{plan.descr_caption}}</span>
</div>
<span class="pricing-subtitle">{{plan.descr_target}}</span>

<ul class="pricing-list-wrapper">
	<li class="pricing-list">{{plan.descr_1|safe}}</li>
	<li class="pricing-list">{{plan.descr_2|safe}}</li>
	<li class="pricing-list">{{plan.descr_3|safe}}</li>
	<li class="pricing-list">{{plan.descr_4|safe}}</li>
</ul>

<div class="pricing-btn">
<a href="/plan/{{plan.slug}}" id="changebtn_test" class="customize-unpreviewable disabled">{% translate "Choose" %}</a>
</div>
</div>
</div>
{% endif %}
{% endfor %}

</div>

<p>{%translate "All prices already include the VAT."%}</p>

</div>
{% endblock %}
