{% load i18n %}
<link rel="stylesheet" href="/static/css/product.css">

<div id="modal_tier" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:66%!important;max-width:unset;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% translate "Finish payment" %}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="center-item-row">
          <div class="col-2"><span>{% translate "IBAN" %}:</span></div>
          <div class="col"><input type="text" name="iban" placeholder="{% translate "IBAN" %}"></div>
        </div>
        <div class="center-item-row">
          <div class="col-2"><span>{% translate "Bank Account Owner" %}:</span></div>
          <div class="col"><input type="text" name="bank_owner" placeholder="{% translate "Bank Owner" %}"></div>
        </div>
        <div class="center-item-row">
          <div class="col-2"><span>{% translate "renew" %}:</span></div>
          <input class="col-2 text-right" type="checkbox" name="auto_renew">
        </div>
        <hr>
        <div class="center-item-row">
          <span class="col-1"></span>
          <span class="col text-center">{% translate "duration" %}:</span>
          <span class="col text-center">{% translate "cost" %}:</span>
        </div>
        <hr>
        <div tierinfo>
          <!-- tier info storage -->
        </div>
        <label class="center-item-row">
          <input class="col-2 text-right" type="checkbox" name="accepted">
          <span class="col">{% translate "I confirm that I agree to the conditions of service" %}</span>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-block" onclick="submit_change_tier()">{% translate "Order now" %}</button>
      </div>
    </div>

  </div>
</div>

<div class="container white-text text-center">

  <h1>{% translate "Product plan" %}</h1>

  <div class="center-item-row">
    <div class="col table-selection" onclick="change_table('trial', this)" tseclect="trial">
      <h4>{% translate "Test" %}</h4>
    </div>
    <div class="col table-selection" onclick="change_table('basic', this)" tseclect="basic">
      <h4>{% translate "Basic" %}</h4>
    </div>
    <div class="col table-selection" onclick="change_table('pro', this)" tseclect="pro">
      <h4>{% translate "Professional" %}</h4>
    </div>
    <div class="col table-selection" onclick="change_table('custom', this)" tseclect="custom">
      <h4>{% translate "Custom" %}</h4>
    </div>
  </div>
  <div id="tier_info" style="padding: 2em 0;">

    <div class="collapse" tview="trial">
      <h3>{% translate "Test" %}</h3>
      <h4>{% translate "Try and use for free, unlimited" %}</h4>
      <hr>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Backup" %}</span></div>
        <div class="col"><span>{% translate "Nightly backups" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "support" %}</span></div>
        <div class="col"><span>{% translate "Support in the forum <a href='https://forum.openpetra.org'>forum.openpetra.org</a>" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Updates" %}</span></div>
        <div class="col"><span>{% translate "Automatic updates to the latest version of OpenPetra" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Access via URL" %}</span></div>
        <div class="col"><span>{% translate "Access OpenPetra through an automatically generated URL, eg. op_012345.openpetra.com" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "More services" %}</span></div>
        <div class="col"><span>{% translate "-" %} {option_trial_other}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Cost" %}</span></div>
        <div class="col"><span>{% translate "unlimited test period" %}</span></div>
      </div>
      <h3 class="collapse" cantallowchange>{% translate "You cannot switch to this plan" %}</h3>
    </div>

    <div class="collapse" tview="basic">
      <h3>{% translate "Basic" %}</h3>
      <h4>{% translate "For smaller charities" %}</h4>
      <hr>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Backup" %}</span></div>
        <div class="col"><span>{% translate "Nightly backups" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Support" %}</span></div>
        <div class="col"><span>{% translate "Support in the forum <a href='https://forum.openpetra.org'>forum.openpetra.org</a>" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Updates" %}</span></div>
        <div class="col"><span>{% translate "Automatic updates to the latest version of OpenPetra" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Access via URL" %}</span></div>
        <div class="col"><span>{% translate "Access OpenPetra through an automatically generated URL, eg. op_012345.openpetra.com" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "More services" %}</span></div>
        <div class="col"><span>{% translate "-" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Cost" %}</span></div>
        <div class="col"><span>{% translate "5 Euro per month, or 50 Euro per year (incl. VAT)" %}</span></div>
      </div>
      <button type="button" class="btn btn-primary btn-block" onclick="change_tier('basic')" changebtn>{% translate "Switch to this plan" %}</button>
    </div>

    <div class="collapse" tview="pro">
      <h3>{% translate "Professional" %}</h3>
      <h4>{% translate "For charities with advanced needs" %}</h4>
      <hr>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Backup" %}</span></div>
        <div class="col"><span>{% translate "Hourly backups" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Support" %}</span></div>
        <div class="col"><span>{% translate "5 hours of support/development per year, more hours can be requested" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "updates" %}</span></div>
        <div class="col"><span>{% translate "Updates to OpenPetra in agreed rhythm" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Access via URL" %}</span></div>
        <div class="col"><span>{% translate "Access OpenPetra through an assigned URL, eg. mycharity.openpetra.com" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "More services" %}</span></div>
        <div class="col"><span>{% translate "-" %} </span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Cost" %}</span></div>
        <div class="col"><span>{% translate "400 Euro per year (incl. VAT)" %} </span></div>
      </div>
      <button type="button" class="btn btn-primary btn-block" onclick="Switch to this plan('Pro')" changebtn>{% translate "Switch to this plan" %}</button>
    </div>

    <div class="collapse" tview="custom">
      <h3>{% translate "Custom" %}</h3>
      <h4>{% translate "For charities with special requirements" %}</h4>
      <hr>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Backup" %}</span></div>
        <div class="col"><span>{% translate "Hourly backups" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Support" %}</span></div>
        <div class="col"><span>{% translate "12 hours of support/development per year, more hours can be requested" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Updates" %}</span></div>
        <div class="col"><span>{% translate "Updates to OpenPetra on demand" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Access via URL" %}</span></div>
        <div class="col"><span>{% translate "Access OpenPetra through your own domain, eg. eg openpetra.mycharity.org" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "More services" %}</span></div>
        <div class="col"><span>{% translate "Install your own (or developed by us for you) plugins or adjustments" %}</span></div>
      </div>
      <div class="center-item-row">
        <div class="col"><span>{% translate "Cost" %}</span></div>
        <div class="col"><span>{% translate "900 Euro per year (incl. VAT)" %}</span></div>
      </div>
      <button type="button" class="btn btn-primary btn-block" onclick="Switch to this plan('custom')" changebtn>{% translate "Switch to this plan" %}</button>
    </div>
  </div>

</div>
<script src="/frontend/static/js/product.js" charset="utf-8"></script>
<script src="/frontend/static/js/message.js" charset="utf-8"></script>
