{% load i18n %}

{% if errormsg %}
<div class="alert alert-danger">
    <strong>{{ errormsg|escape }}</strong>
</div>
{% endif %}
{% if statusmsg %}
<div class="info alert-info">
    <strong>{{ statusmsg|escape }}</strong>
</div>
{% endif %}


<form action="index.html" onsubmit="event.preventDefault(); submit_register()" method="post" id="register_space">
  {% csrf_token %}
  <div class="" style="margin:5% 10%;background:rgba(255,255,255,0.75);padding:1em;border-radius:5px;">

    <input type="hidden" name="lang" value="{{ lang }}"/>
    <input type="hidden" name="reserved_instance" value="%reserved_instance%"/>
    <input type="hidden" name="reserved_token" value="%reserved_token%"/>

    <h2>{% translate "Create new account" %}</h2>

    <!-- firstname -->
    <div class="form-group row">
      <label for="firstname" class="col-sm-2 col-form-label">{% translate "First name" %}</label>
      <div class="col-sm-10">
        <input autofocus required class="text-center" type="text" name="firstname" id="firstname" placeholder="{% translate "First name" %}">
      </div>
    </div>

    <!-- lastname -->
    <div class="form-group row">
      <label for="lastname" class="col-sm-2 col-form-label">{% translate "Last name" %}</label>
      <div class="col-sm-10">
        <input required class="text-center" type="text" name="lastname" id="lastname" placeholder="{% translate "Last name" %}">
      </div>
    </div>

    <!-- email -->
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">{% translate "E-Mail" %}</label>
      <div class="col-sm-10">
        <input required class="text-center" type="email" name="email" id="email" placeholder="{% translate "E-Mail" %}">
      </div>
    </div>

    <!-- newsletter -->
    <div class="form-group row">
      <div class="col-sm-2">{% translate "Newsletter" %}</div>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label" for="newsletter"><input type="checkbox" class="form-check-input" name="newsletter" id="newsletter" value="1"><span>{% translate "I want to receive the OpenPetra newsletter per E-Mail" %}</span></label>
        </div>
      </div>
    </div>

    <!-- passwd -->
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">{% translate "Password" %}</label>
      <div class="col-sm-10">
        <input required class="text-center" type="password" name="password" id="password" placeholder={% translate "Password" %}>
      </div>
    </div>
    <!-- passwd2 -->
    <div class="form-group row">
      <label for="password2" class="col-sm-2 col-form-label">{% translate "Repeat the password" %}</label>
      <div class="col-sm-10">
        <input required class="text-center" type="password" name="password2" id="password2" placeholder={% translate "Repeat the password" %}>
      </div>
    </div>

    <hr>

    <!-- submit -->
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-success">{% translate "Submit" %}</button>
    </div>

  </div>
</form>

<script src="/static/js/utils.js" charset="utf-8"></script>
<script src="/static/js/jquery.min.js" charset="utf-8"></script>
<script src="/static/js/message.js" charset="utf-8"></script>
<script src="/static/js/register.js" charset="utf-8"></script>
